{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="form-error">
            {%- for error in errors -%}
                <p>{{ error.message }}</p>
            {%- endfor -%}
        </div>
    {%- endif %}
{%- endblock form_errors %}

{% block form_row %}
    <div class="form-group">
        {{- form_label(form)  -}}
        {{- form_widget(form)  -}}
        <span class="input-errors">{{- form_errors(form)  -}}</span>
        <span class="input-help">{{- form_help(form)  -}}</span>
    </div>
{% endblock form_row %}